body {
    margin: 0;
    padding: 0;
    font-size: 16px; /* Set a default font size */
}

* {
    box-sizing: border-box;
}
main {
    width: 100%;
    background-color: #001923;
}

main::before{
    content: "";
    position: fixed;
    left: 10%;
    top: 5%;
    background: linear-gradient(#ffeb3b , #e91e63);
    border-radius: 50%;
    border: none;
    width: 400px;
    height: 400px;
}
main::after{
    content: "";
    position: fixed;
    left: 65%;
    top: 40%;
    background: linear-gradient(#2196f3 , #83d8ff);
    border-radius: 50%;
    border: none;
    width: 350px;
    height: 350px;
}

main .form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .form .inform {
    width: 70%;
    padding: 10px 35px 40px;
    height: auto;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    border: solid white 0.1px;
    overflow: hidden;
}
main .form .inform::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    transform: skewX(-15deg);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.08);
    z-index: -1;
}
main .form .inform h1 {
    font-size: 3rem;
    margin: 30px 0px;
    color: white;
}

main .form .inform .row .name,
    main .contact h1,
    main .contact .item .line .before,
    main .contact .item .line .show {
        font-size: 1.5rem; 
    }

    main .form .inform .row .col input,
    main .form .inform .button button,
    main .contact .item .line .buttons button {
        font-size: 1vw; 
    }

    main .form .inform .row{
        width: 100%;
        display: flex;
    }
    main .form .inform .row .col{
        width: 50%;
        padding: 10px;
        display: flex;
        /* border: solid black 1px; */
        flex-direction: column;
    }
    main .form .inform .row .textarea{
        width: 100%;
    }

    main .form .inform .row .textarea textarea{
        height: 35px;
        resize: none;
        outline: none;
        border: none;
        padding: 5px;
        border-radius: 5px;
        transition: 0.5s;
    }
    main .form .inform .row .textarea textarea:focus{
        height: 60px;
    }
    main .form .inform .row .col .name {
        color: white;
        font-size: 17px;
        padding: 0px 0px 4px;
    }
    main .form .inform .row .col input{
        padding: 10px 16px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    main .form .inform .button{
        width: 100%;
    }
    main .form .inform .button button{
        margin: 10px;
        border: none;
        padding: 10px 25px;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s;
    }
    main .form .inform .button button:hover{
        background-color: rgba(0, 25, 50, 0.5);
        color: white;
    }

    main .contact{
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 50px 100px;
        color: white;
        display: grid;
        grid-template-columns: repeat(2 , 50%);
        grid-auto-rows: max-content;
        gap: 10px;
    }
    main .contact h1{
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
        font-size: 50px;
        margin: 30px 0px;
        color: white;
    }

    main .contact .item{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(30px);
        position: relative;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: solid 1px rgba(255, 255, 255, 0.25);
        border-right: solid rgba(255, 255, 255, 0.1) 1px;
        border-left: solid rgba(255, 255, 255, 0.1) 1px;
    }
    main .contact .item .buttons{
        width: auto;
    }
    main .contact .item .buttons button{
        border-radius: 3px;
        cursor: pointer;
        border: none;
        transition: 0.2s;
        padding: 6px 16px;
    }
    main .contact .item .buttons button:hover{
        background-color: rgba(0, 25, 50, 0.5);
        color: white;
    }

    #headContact{
        text-align: center;
        color: white;
        position: relative;
        font-size: 4vw;
    }